@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-padding-top: 160px; /* Adjust based on navbar height */
}

body {
  background-color: rgb(30, 30, 30); /* Dark Background */
  color: white !important;  /* Ensure text is white */
  margin: 0;
  font-family: "Tomorrow", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: "Inter", sans-serif;
}

.tomorrow-regular {
  font-family: "Tomorrow", serif;
  font-weight: 400;
  font-style: normal;
}

.tomorrow-semibold {
  font-family: "Tomorrow", serif;
  font-weight: 600;
  font-style: normal;
}

