.projectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px; /* Adjust spacing between text and image */
  padding: 50px;
}

.projectBox {
  position: relative;
  margin-top: -px;
}

.projectCard {
  position: relative;
  border: none;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(20%);
  transition: 0.3s ease-in-out;
  object-position: 50% 20%;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.projectDescription {
  font-size: 1rem;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  color: #b48ede;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover {
  color: #d1b3ff;
}

.comingSoonCard {
  background-color: #181818;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
