/* Tech Stack Container */
.techstackContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px; /* Adjust spacing between text and image */
  padding: 50px;
}

.techstackBubbles {
  position: relative;
  margin-top: -50px;
}

/* Card Styling */
.techCard {
  background-color: #2b2b2b; /* Dark theme */
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 15px;
  border: solid #2b2b2b;
}

/* Tech List Grid (3 Columns) */
.techList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3x3 grid layout */
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* Individual Tech Item */
.techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  gap: 8px; /* Space between icon and text */
}

/* Icon Styling */
.techItem svg {
  font-size: 30px; /* Icon size */
  color: #b48ede; /* Default color */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover Effect */
.techItem:hover svg {
  transform: scale(1.2);
  color: #d1b3ff;
}

.techName span {
  color: #b48ede;
}
